body {
    
    margin: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    
  }
  

#container{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    max-height: 768px;
    max-width: 768px;
    min-width: 768px;
    min-height: 768px;
    justify-content: center;
    align-items: center;
    
}

#hi{
  display: flex;
  flex: 1;
}

